/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  overflow-x:hidden;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.container {
      margin: 0 auto;
    width: 90%;
    display: grid;
    grid-column-gap: 2rem;
    margin: 0 auto;
 	  grid-gap:20px;
    max-width:68em;
    padding: 0 2.225em;
    grid-template-columns: 2fr 2fr 2fr;

     @media screen and (max-width: 700px) {
   
    grid-template-columns: 1fr;
    padding: 0 ;
    grid-gap:10px;
    grid-column-gap: 0;
    
}

}

.main-container {
        margin: 0 auto;
    width: 90%;
    display: grid;
    grid-column-gap: 2rem;
    margin: 0 auto;
    grid-gap:20px;
    max-width:68em;
    padding: 0 2.225em;
    grid-template-columns: 2fr 2fr  2fr 2fr;
  @media screen and (max-width: 700px) {
   
    grid-template-columns: 1fr;
    padding: 0 ;
    grid-gap:15px;
    grid-column-gap: 0;
    
}

}

.page-container {
        margin: 0 auto;
    width: 90%;
    display: grid;
    grid-column-gap: 2rem;
    margin: 0 auto;
    grid-gap:20px;
    max-width:68em;
    padding: 0 2.225em;
    grid-template-columns: 2fr 2fr  2fr;
@media (min-width: 480px) and (max-width: 979px) {
    grid-template-columns: 1fr;
    
}

}



.hero-video {
    grid-column: 1/5;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr ;
    min-height:890px;

    @media screen and (max-width: 700px) {
min-height:400px;
   
}

    @media screen and (max-width: 500px) {
min-height:300px;
   
}

}


.intro-copy {
        grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 3em;

    p {
        font-size: 1.3em;

    }
}


#shopify-section-1518589654752, #shopify-section-collection-list {
  grid-column: 1/5;
}

.video-container {
  position:relative;
    width: 100%;
    height: auto;
        margin-top: 100px;
 

        h3 {
        color:white;
        font-size:1.4em;
        text-align:center;
        font-weight:normal;
        text-transform:uppercase;
        }
        &.paused {



    &:after {
      content: "II";
      position: absolute;
      top:34%;
      left: 48%;
      font-size: 60px;
      color: white;
      text-shadow: 0 0 100px rgba(#000, 0.5);
    }    
  }
}

video {
    top: 0;
    left: 0;
    width: 100%;
    max-width:100%;
    height:auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}


#shopify-section-collection-list {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 2fr;
    width: 100%;
}

#shopify-section-product {
  grid-column:  1/5;
  

  ul {
  padding:0;
  }
}

#product {
  display:grid;
  grid-template-columns: 1fr 3fr 1.5fr;

   @media screen and (max-width: 700px) {
 grid-template-columns: 1fr ;
   
    
}

  p {
  display:inline-block;
  }
}

.related-products-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.collection-item {
  grid-column: auto / span 1;
  @media screen and (max-width: 700px) {
grid-column: 1/3;
   
    
}
}

.product-info-container {
      grid-column: 1 / 5;


}

.hero-bg--img {
      margin: 0;
    background-image: url(https://cdn.shopify.com/s/files/1/2140/7529/files/unnamed.jpg?14196919295676668362);
    background-repeat: repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.see-more--editorial {
  text-align:center;
  color:white;
  cursor:pointer;
}

#shopify-section-featured-collection {
  grid-column: 1/5;
    grid-template-columns: repeat(8, 1fr);
   display: grid;
    grid-gap: 4rem;
    grid-auto-rows: 100px;
  grid-template-areas: 
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d"
    "c c c c d d d d"
    "c c c c d d d d"
    "c c c c d d d d"
    "e e e e f f f f"
    "e e e e f f f f"
    "e e e e f f f f"
    "e e e e f f f f"
    "g g g g h h h h"
    "g g g g h h h h"
    "g g g g h h h h"
    "g g g g h h h h"
    "g g g g h h h h"
    "i i i i j j j j"
    "i i i i j j j j"
    "i i i i j j j j"
    "i i i i j j j j"
    "k k k k l l l l"
    "k k k k l l l l"
    "k k k k l l l l"
    "k k k k l l l l"
    "k k k k l l l l";

    @media screen and (max-width: 700px) {
    display:block;   
}

}


@media screen and (max-width: 700px) {
#shopify-section-featured-collection img {
  margin:1em 0;
}
}


.featured-collection--intro-copy {
  margin: 0 0 6em;
  color:white;

   @media (min-width: 480px) and (max-width: 979px) {
    margin:0;
    
}
}

.featured-collection--intro-copy a:hover {
  color:black;
  background:white;
  border:none;
}


.featured-collection--link {
      background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
        height: 100%;
    transition: background 0.2s;
      &:hover {
 background: rgba(0, 0, 0, .7);  
    }


     h3 {
   position: absolute;
    left: 50%;
    width: 100%;
    font-size:1.5em;
    font-weight:normal;
    height: 100%;
    top: 75%;
    transform: translate(-50%, -50%);
    display: block;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.2s;
    text-align: center;
  &:hover {
  opacity:1;
      color: #fff;

    }
  }
}


.featured-collection--item1 {
  grid-area:a;
  align-self: center;
  position:relative;
}

.featured-collection--item2 {
  grid-area:b;
      align-self: center;
  position:relative;

}

.featured-collection--item3 {
  grid-area:c;
      align-self: start;
  position:relative;

}

.featured-collection--item4 {
  grid-area:d;
  position:relative;
   align-self: start;
}

.featured-collection--item5 {
  position:relative;
  grid-area:e;
      align-self: start;
}

.featured-collection--item6 {
  grid-area:f;
  position:relative;
    align-self: end;
}

.featured-collection--item7 {
    align-self: start;
  position:relative;
  grid-area:g;
}

.featured-collection--item8 {
   align-self: center;
  position:relative;
  grid-area:h;
}


.featured-collection--item9 {
  grid-area:i;
  position:relative;
    align-self: end;
}

.featured-collection--item10 {
  position:relative;
 align-self: start;
  grid-area:j;
}

.featured-collection--item11 {
        align-self: center;
  grid-area:k;
  position:relative;
}

.featured-collection--item12 {
       align-self: start;
  position:relative;
  grid-area:l;
}

.product-single__thumbnails-item  {
  @media screen and (max-width: 700px) {
 display:none !important;
    
}
}

.img-wrapper {
    margin: 0 auto;
    @media screen and (max-width: 700px) {
   
  grid-column: 1;
   grid-template-columns: 1fr;
    
}


ul {
  padding:0;
}

}

.pagination {
  grid-column: auto / span 4;
    text-align: center;
    margin: 3em 0;

    span {
    margin: 0 10px;
    }

    span.current {
    padding: 5px 9px;
    border-radius: 50%;
    background-color:#eaeaea;
    }
}

.product-item--info {
    grid-column: 4 / 5;
  @media screen and (max-width: 700px) {
   
  grid-column: 1 / 5;
   
    
}
}



.selector-wrapper, .product-price {
  margin: 1em 0;
}

.related-products {
  grid-column: 1/5;




}

.related-item {
  h3, h4 {
  font-weight:normal;
  text-transform:none;
  font-size:.9em;
  margin:0;
  }

  @media screen and (max-width: 700px) {
   
  grid-column: 1 / 5;
   
    
}
}

.small--one-half {
  @media screen and (max-width: 700px) {
    width:100% !important;
    grid-column: 1 /5;

  }
}

.grid-product__on-sale h3 {
      border: 1px solid ;
    text-align: center;
    padding: 11px;
}

.sold-out {
      box-sizing: border-box;
    background: #fff;
    border:none;
    color: #ccc;
    text-align:left;
    display: block;
    text-decoration: line-through;
    float: left;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    width: 100%;
 
}

.add-to-cart {
      box-sizing: border-box;
    background: #fff;
    border: 1px solid;
    color: #000;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: 16px 24px;
    width: 100%;
    text-align: center;
      -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.add-to-cart:hover {
  background: #000;
    color: #fff;

}

.selector-wrapper {
     box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 12px;
    line-height: 1em;
    padding: 3px 17px;

    select {
    top: 0;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    }
}

.product-description {
  margin: 1em 0;
      display: inline-block;
}

.page-content {
      grid-column: 1 / 4;
}

#CustomerLoginForm {
      grid-column: 1 / 5;
  
}

.customer--fields {
  margin: 1em 0;
  input#CustomerEmail, input#CustomerPassword {
  width:20em;
  padding:1em;
  outline:none;
  }

  input.btn {
  border:1px solid;
  padding:10px 18px;
  }

  input.btn:hover {
  color:white;
  background:black;
  }
}

.homepage--collection {

   border:1px solid;
  padding:12px;
  position:relative;
  color: inherit;
  transition: all 0.3s ease 0s;

  svg {
  padding-top:6px; 
  }
}


.btn {
  position: relative;
  text-align:center;
    display: grid;
    padding: 20px 0;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: light;
    letter-spacing: 1px;
    color: inherit;
  text-decoration:none;
    transition: all 0.3s ease 0s;
}

.btn:after {
    content: "";
    position: absolute;
    transition: all 0.3s ease 0s;
    z-index: -1;
}
.btn:hover,
.btn:focus {
  color: #f8f8f8;
}



.button-3:after {
  background-color: #1ABC9C;
  top:0; bottom: 0; left: 0; right: 100%;
}

.button-3:hover,
.button-3:focus {
  background-color: transparent;
}
.button-3:hover:after,
.button-3:focus:after{
  right:0;
}


.reveal .hidden { display: block !important; visibility: visible !important;}
.product:hover .reveal img { opacity: 1; }
.reveal { position: relative; }
.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;  
}
.reveal:hover .hidden { 
  z-index: 100000;
  opacity: 1;    
}
.reveal .caption {
  position: absolute;
  top: 0;  
  display: table;
  width: 100%;
  height: 100%;
  background-color: white; /* fallback for IE8 */
  background-color: rgba(255, 255, 255, 0.7);
  font: 13px/1.6 sans-serif;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.reveal .hidden .caption .centered {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 480px) and (max-width: 979px) {
  .reveal .caption { 
    font-size: 11px; 
  }
}

.page-content--stocklist {
  grid-column: 1 / 5;

    @media screen and (max-width: 700px) {
   grid-column: 1 /3 ;
    
}

   @media screen and (max-width: 600px) {
   grid-column: 1 ;
    
}



  h3 {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  }
}

.stockists a {
      border-bottom: 1px solid;
    padding: 4px 0px;
  }

  .cart-page {
  grid-column: 1 / 5;

  form {
  width:100%;
  }
  .responsive-table {
  width:100%;
  td {
   @media screen and (max-width: 700px) {
  text-align:left;
    
}
  }
  }

  .cart-totals {
  text-align:right;
  }
  }

  .payment-icons {
  margin:0;
  }


.product-modal.open, .modal-box.open {
    display: block;
}

  .product-modal, .modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
        background: #ffffffe0;
}

.gallery-wrapper, .list-unstyled {
     grid-column: 1 / 5;
     padding:0;
    margin: 0 auto;
    background: opacity;

}

.btn.btn-size {
  border:1px solid;
  padding: 8px 15px;
}

.btn.btn-size:hover {
  color:white;
  background:black;
}

.close {
        right: 10px;
    position: fixed;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=20);
    margin-top: 19px;
    margin-right: 40px;
}

.cart-image {
  max-width:120px;
  padding-right:20px;
   @media screen and (max-width: 700px) {
  max-width:100%;
    
}
}


.responsive-table-row  {
  border-top: 1px solid #eee;
  }

.quantity {
  position: relative;
}



  .cart-totals {
  input {
  border: 1px solid;
   padding:6px 9px;
   vertical-align:middle;
       -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

  }
    input:hover {
  color:white;
  background:black;
  }

  }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
      width: 67px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

  .size-chart-img {
    left: 50%; 
    top: 50% !important; 
    transform: translate(-50%, -50%); 
    position: fixed;
        max-width: 800px;
  }
