/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.container {
      margin: 0 auto;
    width: 90%;
    max-width: 68em;
    display: grid;
    grid-column-gap: 2rem;
    margin: 0 auto;
    padding: 0 2.55555em;
 	  grid-gap:20px;
    grid-template-columns: 2fr 2fr 2fr;
}

.main-container {
        margin: 0 auto;
    width: 90%;
    max-width: 68em;
    display: grid;
    grid-column-gap: 2rem;
    margin: 0 auto;
    padding: 0 2.55555em;
    grid-gap:20px;
    grid-template-columns: 2fr 2fr  2fr 2fr;
}

.hero-video {
    grid-column: 1/5;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr ;
    min-height:890px;
}


.intro-copy {
        grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 3em;

    p {
        font-size: 1.3em;

    }
}


#shopify-section-1518589654752, #shopify-section-collection-list {
  grid-column: 1/5;
}

.video-container {
  position:relative;
    width: 100%;
    height: auto;
        margin-top: 18%;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    max-width:100%;
    height:auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}


#shopify-section-collection-list {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 2fr;
    width: 100%;
}

#shopify-section-product {
  grid-column: 3/3;
}


.collection-item {
  grid-column: auto / span 1;
}

.hero-bg--img {
      margin: 0;
    background-image: url(https://cdn.shopify.com/s/files/1/2140/7529/files/BrandBlack_JAN2018_RRP_2587.jpg?4811233464807835234);
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    max-height:890px;
    position: absolute;
    top: 0;
    left: 0;
}

#shopify-section-featured-collection {
  grid-column: 1/5;
    grid-template-columns: repeat(8, 1fr);
   display: grid;
    grid-gap: 4rem;
    grid-auto-rows: 100px;
  grid-template-areas: 
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a d d d d"
    "c c c c d d d d"
    "c c c c d d d d"
    "e e e e d d d d"
    "e e e e f f f f"
    "e e e e f f f f"
    "e e e e f f f f"
    "g g g g h h h h"
    "g g g g h h h h"
    "g g g g h h h h"
    "g g g g h h h h"
    "g g g g h h h h"
    "g g g g h h h h";
}

.featured-collection--item1 {
  grid-area:a;
  align-self:end;
}

.featured-collection--item2 {
  grid-area:b;
  align-self: center;
}

.featured-collection--item3 {
  grid-area:c;
  align-self: start;
}

.featured-collection--item4 {
  grid-area:d;
  align-self: center;
}

.featured-collection--item5 {
  grid-area:e;
}

.featured-collection--item6 {
  grid-area:f;
}

.featured-collection--item7 {
align-self: start;
  grid-area:g;
}

.featured-collection--item8 {
  align-self:end;
  grid-area:h;
}

.pagination {
  grid-column: auto / span 4;
    text-align: center;
    margin: 3em 0;

    span {
    margin: 0 10px;
    }

    span.current {
    padding: 5px 9px;
    border-radius: 50%;
    background-color:#eaeaea;
    }
}

.product-item {
  grid-column: auto / span 2;
}

.selector-wrapper, .product-price {
  margin: 1em 0;
}

.related-products {
  grid-column: 1/5;
}

.grid-product__on-sale h3 {
      border: 1px solid ;
    text-align: center;
    padding: 11px;
}

.add-to-cart {
      box-sizing: border-box;
    background: #000;
    border: 0;
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: 16px 24px;
    width: 100%;
    text-align: center;
}

.selector-wrapper {
     box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 12px;
    line-height: 1em;
    padding: 3px 17px;
    width: 60%;

    select {
    top: 0;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    }
}

.product-description {
  margin: 1em 0;
      display: inline-block;
}

.page-content {
      grid-column: 1 / 4;
}