.footer-index {
    margin-top:5em;
}

footer {
background:#fff;
padding:3em 0;
line-height:1.4;
color: #5d5d5d;


ul {
    @media screen and (max-width: 700px) {
    display: grid;
    grid-column-gap: 2rem;
      grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 ;
  
    
}
}

a {
	color:#5d5d5d;
}

ul {
    @media (min-width: 480px) and (max-width: 979px) {
   margin:0;
   padding:0;
    
}
}
.container {
	    grid-template-columns: 2fr 1.5fr 1.5fr 2fr;
        @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    
}

}



.footer-right {
	text-align:right;
    @media screen and (max-width: 700px){
        text-align:left;

}

}
ul.social {
	display: grid;
    grid-template-columns: 40px 40px 40px;
    justify-content: right;
    color: #5d5d5d;
    @media screen and (max-width: 700px) {
    justify-content: left;
    margin:2em 0;   

}
    svg {
    fill:black;
    }
}	


}