/*================ Site Header ================*/

#page {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url("https://cdn.shopify.com/s/files/1/2140/7529/files/SEARCHING-FOR-SATORI.svg");
    background-repeat: no-repeat;
    background-position: center;
}



header {
	    position: sticky;
    background: white;
    margin: 0;
    z-index: 1000;
    top: 0;
    padding: 1em 0;
	
	.logo { 
    width:160px;
		svg {
			width: 100%; height: auto; 
		}


	}

	.user-login {
	padding:0;
	margin: 0;
	text-align:right;
	    display: grid;
    grid-template-columns: 1fr .3fr;
      @media screen and (max-width: 800px) {
   
    display:none;
    
}
	}
}

nav {
      @media screen and (max-width: 800px) {
   
    display:none;
    
}

}

nav ul {
display: grid;
grid-template-columns: 68px 100px 92px 100px 80px;
text-align: right;
margin:0;
}

.site-nav__submenu {
    position: absolute;
    top: 55px;
    margin: 0;
    left: 0;
    padding: 20px 0;
    display: none;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    overflow-x: hidden;
    z-index: 10;
    text-align: left;
    grid-template-columns: 100px 100px 100px 100px;

    .container {
        grid-template-columns: 1fr; 
    }

    li {
        display: block;
    font-weight: bold;
        margin: .5em 0px 1em;
    font-size: 1.5em;
    }
}

.submenu-sub {
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    text-align: left;
    margin: 15px 0;

    li {
         display: block;
    margin: 0;
    padding: 0;
    font-size: .7em;
    }
}

.site-nav__link--icon svg {
        border: 2px solid;
        padding: 2px;
    border-radius: 50%;
}

.cart {
    margin-right:1em;
}

.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}


.mobile-nav--button {
    display:none;
 @media screen and (max-width: 800px) {
    position:absolute;
    top:10px;
    right:20px;
    display:block;
    
}

.mobile-menu {
 @media screen and (max-width: 800px) {

        display: block;
    float: left;
    height: 50px;
    width: 50px;
}
}

}


.modal-box.mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;

 .overlay {
    background: rgba(255,255,255,1);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    }
}

.modal-box.open {
    display:block;

    .menu ul {
    margin:8em 0 0;
    li {
    text-align:center;
    font-size:1.5em;
    margin:1em 0;
    font-weight:bold;
    }
    }
    }

    .modal-box.close {
    position: fixed;
    top: 2em;
    right: 4em;
    }

