
<section class="video-container">

<video poster="https://cdn.shopify.com/s/files/1/0400/1917/files/cover-poster.jpg?17649989980419254139" playsinline=""  >
<source type="video/mp4" src="https://cdn.shopify.com/s/files/1/0400/1917/files/Brandblack_Milspec_bb.mp4?9125364695990631826" type="video/mp4">
<source type="video/webm" src="https://cdn.shopify.com/s/files/1/0400/1917/files/Brandblack_Milspec_1_1.webm?9125364695990631826" type="video/webm">
</video>

{% comment%}
{% if section.settings.header-image  %}
<img src="{{ section.settings.header-image | img_url: 'master' }}" />
<h3> SHOULD I KISS THE VIPERS FANG</h3>
{% else  %}


<video playsinline="" autoplay="" muted="" loop="">
<source type="video/mp4" src="https://cdn.shopify.com/s/files/1/2140/7529/files/Brandblack_Milspec.mp4?9456825544678795814" type="video/mp4">
<source type="video/webm" src="https://cdn.shopify.com/s/files/1/0400/1917/files/DELTA_PRIMITIVE_HiRes_short.webm?14396379370546019582" type="video/webm">
</video>

{% endif  %}
{% endcomment %}

</section>

<div class="see-more--editorial"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg></div>


{% schema %}
  {
    "name": "Hero Video",
    "class": "hero-video",
    "settings": [
		{
			"type":	"select",
			"id": 	"video_type",
			"label": "Video Source",
			"options": [
				{ 
                  "group": "youtube",
                  "value": "youtube", 
                  "label": "YouTube"  
                },
				{ 
                  "group": "vimeo",
                  "value": "vimeo", 
                  "label": "Vimeo" 
                }
			],
			"default": "vimeo",
            "info": "From which site is the video streaming from?"
		},

    {
        "type": "image_picker",
        "id": "header-image",
        "label": "header-image"
   },

		{
			"type": "text",
			"id": "video_id",
			"label": "Video ID",
			"default": "_9VUPq3SxOc",
			"info": "[Find your YouTube video ID](https://docs.joeworkman.net/rapidweaver/stacks/youtube/video-id)."
		}
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Frontpage Sections"
      }
    ]
  }
{% endschema %}
